


.info1{
    background: #F2F4F4;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    color: #2980B9;
    }
body{
    background: url(../img/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
